@use "../../variables.scss";

button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: 0;
	&:hover > svg {
		fill: var(--theme-svg-color-hover);
		transition: fill variables.$button-hover-time;
	}
	> svg {
		fill: var(--theme-svg-color);
		transition: fill variables.$button-hover-time;
	}
}