---
import { Links } from "../../ts/links"
---

<p>Welcome to rhpidfyre.io!</p>
<div class="return"></div>
<p>This is a personal website by rhpidfyre / Brandon.</p>
<p>You can find my services here or learn about me.</p>
<div class="return"></div>
<p>You can also contribute or view the source code of my website via the links:</p>
<p>{"<"}<a href={Links.RepoGitea} target="_blank">{Links.RepoGitea}</a>{">."}</p>
<p>{"<"}<a href={Links.RepoGithub} target="_blank">{Links.RepoGithub}</a>{">."}</p>
<div class="return"></div>
<p>You can get started with the command: <span class="bold">help</span></p>
<div class="return"></div>
<noscript>
	<p><span class="red">=================================================</span></p>
	<p><span class="red">JavaScript is disabled, functionality will be limited. :(</span></p>
	<p><span class="red">But, you will not be limited at exploring my services which you can find by navigating towards the top-right.</span></p>
	<p><span class="red">=================================================</span></p>
</noscript>