---
import Html from '../layouts/html.astro';
---

<Html title="404" meta_description="rhpidfyre.io 404", disable_overflow="xy">
	<main>
		<div class="center-404">
			<h1>404</h1>
			<h2>Page not found</h2>
		</div>
	</main>
</Html>

<style lang="scss">
	@use "../scss/variables.scss";

	.center-404 {
		display: grid;
		place-content: center;
	}
	main {
		height: variables.$main-height;
		width: 100vw;
		display: flex;
		place-content: center;
	}
	h1, h2 {
		text-align: center
	}
	h1 {
		font-size: 5em;
	}
	h2 {
		font-size: 2em;
		margin-top: 0;
	}
</style>