---
import Html from '../layouts/html.astro';
import Columns from '../layouts/columns.astro';
import {httpsLinks} from '../components/ts/enums';
---

<Html title="Home" meta_description="rhpidfyre.io Home Page" disable_overflow="x">
    <main>
    	<section class="title">
			<a href={httpsLinks.GitProfile}>
				<img src={httpsLinks.GitAvatar} alt="rhpidfyre Profile Picture" width="200">
			</a>
			<div class="rhpidfyre-center">
				<h1>rhpidfyre.io</h1>
				<h2>This website belongs to <a href={httpsLinks.GitProfile}>rhpidfyre</a>, it is home to my services and information</h2>
			</div>
     	</section>
     	<Columns/>
    </main>
</Html>

<style lang="scss">
	@use "../scss/variables.scss";

	.title {
		display: grid;
		justify-content: center;
		align-items: center;
		gap: 100px;
		height: 700px;
		> a {
			margin-top: 100px
		}
	}
	.rhpidfyre-center {
		display: grid;
		bottom: 50%;
		position: relative;
	}
	a {
		margin-inline: auto;
	}
	img {
		border-radius: 100%;
	}
	h1, h2 {
		text-align: center;
	}
	h1 {
		font-size: 3.5em;
	}
	h2 {
		margin-top: 5px;
		font-weight: normal;
		color: var(--text-color-light);
	}
	main {
		display: grid;
		width: 100vw;
		justify-content: center;
		align-items: center;
	}
</style>