---
import Html from '../layouts/html.astro'
import {HttpsLinks} from '../components/ts/enums'
import RhpidLogo from "../components/rhpid_logo.astro"
---

<Html title="Home" meta_description="rhpidfyre.io Home Page" disable_overflow="x">
	<section class="title">
		<RhpidLogo/>
		<div class="rhpidfyre-center">
			<h1>rhpidfyre.io</h1>
			<h2>This website <span id="fun">belongs to</span> <a href={HttpsLinks.GitProfile}>rhpidfyre</a>.</h2>
			<script is:inline>
				const fun_element = document.getElementById("fun")
				if (fun_element) {
					const fun_vec = ["belongs to", "is owned by", "was developed by", "is maintained by"]
					fun_element.innerText = fun_vec[Math.round(Math.random()*(fun_vec.length-1))]
				}
			</script>
		</div>
	</section>
</Html>

<style lang="scss">
	.title {
		display: grid;
		place-content: center;
		gap: 50px;
		height: 700px;
	}
	.rhpidfyre-center {
		display: grid;
		bottom: 50%;
		position: relative;
	}
	a {
		margin-inline: auto;
		&:hover {
			text-decoration: underline {
				color: var(--a-underline-color)
			};
		}
	}
	h1, h2 {
		text-align: center;
	}
	h1 {
		font-size: 3.5em;
	}
	h2 {
		margin-top: 5px;
		font-weight: normal;
		color: var(--text-color-light);
	}
</style>