---
import Webpage from '../layouts/Webpage.astro';
import Motd from '../components/terminal/motd.astro';
---

<Webpage>
	<main>
		<Motd/>
		<script src="../components/client/terminal.ts"></script>
	</main>
</Webpage>

<style lang="scss" is:global>

</style>