---
import Page from '../layouts/page.astro';
import {httpsLinks} from '../components/ts/enums';
---

<Page title="Home" meta_description="rhpidfyre.io Home Page", disable_overflow="x">
    <main>
		<a href={httpsLinks.GitProfile}>
			<img src={httpsLinks.GitAvatar} alt="rhpidfyre Profile Picture" loading="eager" width="200">
		</a>
		<div class="rhpidfyre-center">
			<h1>rhpidfyre.io</h1>
			<h2>Lorem ipsum dolor sit.</h2>
		</div>
    </main>
</Page>

<style lang="scss">
	@use "../scss/pages/main.scss";

	.rhpidfyre-center {
		display: grid;
		bottom: 50%;
		position: relative;
	}
	a {
		margin-inline: auto;
	}
	img {
		border-radius: 100%;
	}
	h1, h2 {
		text-align: center;
	}
	h1 {
		font-size: 3.5em;
	}
	h2 {
		margin-top: 0;
	}
	main {
		@include main.width-height;
		display: grid;
		justify-content: center;
		align-items: center;
	}
</style>