---
import Page from '../layouts/page.astro';
---

<Page title="Home" meta_description="rhpidfyre.io Home Page", disable_overflow="x">
    <main>

    </main>
</Page>

<style lang="scss">
	@use "../scss/pages/main.scss";

	main {
		@include main.width-height;
	}
</style>