$default-font-size: 1.2rem;

$header-Y: 30px;
$footer-Y: 30px;
$component-padding: 20px;

@mixin color-matrix {
	--color-red:   200, 0, 0;
	--color-green: 0, 200, 0;
	--color-blue:  0, 0, 200;
	--color-cyan:  18,167,148;
}

@mixin css-global {
	@include color-matrix;
}