---
const SourceCodeLink = "https://git.rhpidfyre.io/rhpidfyre/rhpidfyre.io"
---

<footer>
	<a href={SourceCodeLink}>Source Code</a>
</footer>

<style lang="scss">
	@use "../scss/variables.scss";
	
	a:hover {
		text-decoration: underline;
	}
	footer {
		display: flex;
		justify-content: space-between;
		background-color: var(--color-secondary);
		border-top: 1px solid var(--color-primary-border);
		width: 100vw;
		height: variables.$bottombar-height;
		padding: 0 30px;
	}
</style>