---
import Button from './button.astro'
import { Links } from '../ts/links';
---

<header>
	<Button href={Links.Self} display="[rhpidfyre.io]" color="black"/>
	<section>
		<Button href={Links.Git} display="REPOS"/>
		<Button href={Links.Cloud} display="CLOUD"/>
		<Button href={Links.Gsm} display="GSM"/>
	</section>
</header>

<style lang="scss">
	@use "../scss/variables";

	header {
		display: flex;
		justify-content: space-between;
		width: 100vw;
		height: variables.$header-Y;
		background-color: rgb(10,10,10);

		p { margin-left: 10px; }
	}
	section { height: 100%; }
</style>