---

---

<header>
	<nav>
		<a href="../pages">
			<img src="/logo128.png" alt="" loading="lazy" width="35px">
		</a>
	</nav>
</header>


<style lang="scss">
	@use "../scss/variables.scss";

	nav {
		display: flex;
		align-items: center;
		background-color: var(--color-secondary);
		border-bottom: 1px solid var(--color-primary-border);
		width: 100vw;
		height: variables.$topbar-height;
	}
</style>