---
import {httpsLinks} from "./ts/enums";
---

<header>
	<nav class="nav-left">
		<a href="../pages">
			<img src="/logo128.png" alt="Home page logo" loading="eager" width="30px">
		</a>
	</nav>
	<nav class="nav-right">
		<a href={httpsLinks.CodeRepositoriesLink}>
			<button>Code Repository</button>
		</a>
		<a href={httpsLinks.ServersLink}>
			<button>Servers</button>
		</a>
	</nav>
</header>

<style lang="scss">
	@use "../scss/variables.scss";
	$padding: 20px;

	.nav-left {
		padding-left: $padding;
	}
	.nav-right {
		display: flex;
		gap: 10px;
		padding-right: $padding;
	}
	button {
		font-size: .9em;
		background-color: transparent;
		padding: 10px;
		border: 0 {
			radius: 5px
		};
		&:hover {
			background-color: var(--nav-button-hover);
		}
	}
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var(--color-secondary);
		width: 100vw;
		height: variables.$topbar-height;
		border-bottom: 1px solid var(--color-primary-border);
	}
</style>