---
import Body, {type PropsStruct as Props} from '../layouts/body.astro';
import TopBar from '../components/topbar.astro';
import FooterBar from '../components/footer.astro';

const {title, description} = Astro.props
---

<Body title={title} description={description}>
	<header>
		<TopBar/>
	</header>
	<main>
		<slot/>
	</main>
	<footer>
		<FooterBar/>
	</footer>
</Body>