@mixin text-styles {
	.red   { color: rgb(var(--color-red)) }
	.green { color: rgb(var(--color-green)) }
	.blue  { color: rgb(var(--color-blue)) }
	.cyan  { color: rgb(var(--color-cyan)) }
	.bold  { font-weight: bold; }
}

@mixin stdout-layouts {
	.stdout-vertical { display: grid; }
	.stdout-horizontal {
		display: flex;
		gap: 30px;
	}
	.stdout-horizontal-wrap {
		display: flex;
		gap: 5px;
	}
}

@mixin term-elements {
	.return { margin-top: 25px; }
	.shell-prompt { display: flex; }
	.wrap-indicator {
		width: 2px;
		background-color: rgba(var(--color-blue), .3);
	}
}

@mixin formatting {
	@include stdout-layouts;
	@include term-elements;

	p {
		@include text-styles;

		font-size: 1.2rem;
		margin: 5px;

		span { font-size: inherit; }
		a {
			font-size: inherit;
			&:hover { text-decoration: underline; }
		}
	}
}