@mixin text-styles {
	.red   { color: var(--text-red) }
	.green { color: var(--text-green) }
	.blue  { color: var(--text-blue) }
	.cyan  { color: var(--text-cyan) }
	.bold  { font-weight: bold; }
}

@mixin stdout-layouts {
	.stdout-vertical { display: grid; }
	.stdout-horizontal {
		display: flex;
		gap: 30px;
	}
}

@mixin term-elements {
	.return { margin-top: 25px; }
	.shell-prompt { display: flex; }
}

@mixin formatting {
	@include stdout-layouts;
	@include term-elements;

	p {
		@include text-styles;

		font-size: 1.2rem;
		margin: 5px;

		span { font-size: inherit; }
		a {
			font-size: inherit;
			&:hover { text-decoration: underline; }
		}
	}
}