@font-face {
	font-display: swap;
	font-family: 'Terminus';
	font-style: normal;
	font-weight: 500;
	src: url('/Terminus.woff2') format('woff2');
}

* {
	font: {
		family: 'Terminus', monospace;
		size: 15px;
	};
	letter-spacing: 2px;
	text-wrap: nowrap;
	cursor: text;
}