@mixin light-theme {
	--color-primary: #1d2328;
	--color-primary-border: #3b444c;
	--color-secondary: #171a1e;
	--color-tertiary: #171a1e;
	--selection-background-color: rgb();
	--selection-color: rgb();
}

@mixin dark-theme {
	--color-primary: #1d2328;
	--color-primary-border: #3b444c;
	--color-secondary: #171a1e;
	--color-tertiary: #171a1e;
	--selection-background-color: rgb();
	--selection-color: rgb();
}

:root {
	@include light-theme;

	@media (prefers-color-scheme: dark) {
		@include dark-theme;
	}
}