---
---

<section>
	<div class="section-column">
		<header>
			<h1>Servers</h1>
			<svg height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
				<path d="M300-720q-25 0-42.5 17.5T240-660q0 25 17.5 42.5T300-600q25 0 42.5-17.5T360-660q0-25-17.5-42.5T300-720Zm0 400q-25 0-42.5 17.5T240-260q0 25 17.5 42.5T300-200q25 0 42.5-17.5T360-260q0-25-17.5-42.5T300-320ZM160-840h640q17 0 28.5 11.5T840-800v280q0 17-11.5 28.5T800-480H160q-17 0-28.5-11.5T120-520v-280q0-17 11.5-28.5T160-840Zm40 80v200h560v-200H200Zm-40 320h640q17 0 28.5 11.5T840-400v280q0 17-11.5 28.5T800-80H160q-17 0-28.5-11.5T120-120v-280q0-17 11.5-28.5T160-440Zm40 80v200h560v-200H200Zm0-400v200-200Zm0 400v200-200Z"/>
			</svg>
		</header>
	</div>
</section>
<section>

</section>

<style lang="scss">
	@use "../scss/variables.scss";
	$column-height: 600px;

	.section-column {
		width: 50%;
	}
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	h1 {
		font-size: 3rem;
		color: var(--text-color-light);
		text-align: left;
	}
	section {
		display: flex;
		justify-content: center;
		height: variables.$vertical-column-height;
		width: 100vw;
		padding: 30px;
		&:nth-child(even) {
			background-color: var(--even-column-color);
			border: {
				bottom: 1px solid var(--color-primary-border);
				top: 1px solid var(--color-primary-border);
			};
		};
	}
</style>