---
import MetaTags from "../components/body/meta.astro"

export interface Props {
	title: string;
	meta_description: string;
	disable_overflow: "x" | "y" | "xy";
}
const {title, meta_description, disable_overflow} = Astro.props
//@media screen and (min-width: $breakpoint-sm) {
---

<!doctype html>
<html lang="en">
	<head>
		<MetaTags meta_description={meta_description}/>
		<link rel="icon" type="image/png" href="/favicon.png"/>
		<title>{`rhpidfyre.io | ${title}`}</title>
	</head>
	<body style={disable_overflow === "xy" ? "overflow: hidden" : `overflow-${disable_overflow}: hidden`}>
		<slot/>
	</body>
</html>

<style lang="scss" is:global>
	@forward "../scss/variables.scss";
	@use "../scss/layout.scss";

	html {
        color-scheme: light dark;
    }
    body {
   		@include layout.no-padding-margin;
    	font-family: -apple-system, "Segoe UI", system-ui, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Twemoji Mozilla";
    	background-color: var(--color-primary);
        box-sizing: border-box;
    }
	a {
		&:visited, &:active, &:link {
			color: var(--a-link-color);
		};
		color: var(--a-link-color);
		text-decoration: none;
	}
	button {
		cursor: pointer;
	}
    h1, p {
    	@include layout.no-padding-margin;
    }
</style>